:root {
	--j-primary-bg: #000000;
	--j-secondary-bg: #000000;
	--j-contrast-bg: #000000;
	--j-dark-bg: #000000;
	--j-primary-text: #000000;
	--j-tinted-text: #000000;
	--j-highlight-color: #000000;
	--j-hover-color: #000000;
	--j-border-color: #000000;
}

.theme-dark_blue, .theme-white {
    --f-primary-color: linear-gradient(65deg,  var(--j-highlight-color) 0,  color-mix(in srgb, var(--j-highlight-color) 80%, white) 100%) !important; 
    --f-primary-color-hover: var(--j-highlight-color) !important;
    --f-primary-color-active: var(--j-highlight-color) !important;
    --f-light-color:  var(--j-highlight-color) !important;
    --f-text-color: var(--j-primary-text) !important;
    --f-light-bg: var(--j-secondary-bg) !important;
    --f-light-bg-hover: var(--j-secondary-bg) !important;
}

body {
    color: var(--j-tinted-text) !important;
    background: var(--j-primary-bg) !important;
	transition: 0.5s;
}

a, .fr-view.fr-element {
    color: var(--j-tinted-text) !important;
}

.btn-main, .btn-primary {
	color: #ffffff !important;
	background: var(--j-highlight-color) !important;
}

.btn-main:hover, .btn-primary:hover {
	color: var(--j-tinted-text) !important;
}

.f-menu-nav, .navbar-default, .navbar .container-fluid, .f-menu-narrow .f-menu-submenu{
    background: var(--j-secondary-bg) !important;
	border: solid 0px var(--j-border-color) !important;
}

.global-search .global-search-modal.active, .reference-guides, .rnav-base-widget, .sidebar-items-list, .sidebar-box-item, .sidebar-items-list .list-item:nth-child(even), .sidebar-box-item .list-item:nth-child(even) {
    background: var(--j-contrast-bg) !important;
	border: solid 0px var(--j-border-color) !important;
}

.members-body, .members-head, .homeroom-attendance-component, .class-attendance-component {
    background: var(--j-contrast-bg) !important;
	border: solid 0px var(--j-border-color) !important;
	color: var(--j-primary-text) !important;
}

.f-menu-narrow .f-menu-item.opened .f-menu-nav-link, .f-menu-narrow .f-menu-item:hover .f-menu-nav-link{
    --f-menu-link-bg: var(--j-highlight-color) !important;
	color: var(--j-primary-text) !important;
}

.f-menu-narrow .f-menu-link.active:hover, .f-menu-narrow .f-menu-link:focus, .f-menu-submenu-link:hover {
	--f-menu-link-bg: var(--j-highlight-color) !important;
	background: var(--j-contrast-bg) !important;
	color: var(--j-primary-text) !important;
}

.f-menu {
	--f-menu-link-bg: var(--j-secondary-bg) !important;
	transition: 0.5s;
}

.f-menu-link {
    color: var(--j-primary-text) !important;
}

.f-menu-expanded .f-menu-item.opened .f-menu-nav-link:hover {
	color: var(--j-highlight-color) !important;
	transition: 0.2s;
}

.f-menu-submenu-link.active .f-menu-submenu-link-title:hover {
	color: var(--j-highlight-color) !important;
	transition: 0.2s;
}

.f-menu-expanded .f-menu-nav-link.active{
	color: var(--j-highlight-color) !important;
	transition: 0.2s;
}

.f-menu-link:hover, .f-menu-submenu-link:hover, div .f-menu-submenu-link-title:hover {
    color: var(--j-hover-color) !important;
	transition: 0.2s;
}

.f-menu-narrow .f-menu-item .f-menu-nav-link:hover {
    --f-menu-link-bg: var(--j-primary-bg) !important;
}

div .f-menu-submenu-link-title {
	color: var(--j-primary-text) !important;
}

div .f-menu-submenu-link-title:hover {
	color: var(--j-highlight-color) !important;
}

.f-menu-submenu-link-title {
    color: #475467!important;
}

.navbar .navbar-header .school-name, .navbar .navbar-header .navbar-brand {
    color: var(--j-primary-text) !important;
}

.navbar .fi:not(.preserve-icon-color) path {
    fill: var(--j-primary-text) !important;
}

.form-section .section-full-width {
    border-top: 0px solid var(--j-border-color) !important;
	background: var(--j-secondary-bg) !important;
}

main .content-wrapper .content-block, .fusion-card-list .fusion-card-item .fusion-card-item {
    background: var(--j-secondary-bg) !important;
	transition: 0.5s;
}

h3 a, .h3 a, .pbl:not(.project-section) .pbl-header a, h4 a, .h4 a, .pbl:not(.project-section) .pbl-subheader a, h5 a, .h5 a, .title a, .student-name a, .student-switch-tile button {
    color: var(--j-primary-text) !important;
}

.fusion-card-header, .fusion-card-item, .fusion-card {
    border: 1px solid var(--j-border-color) !important;
}

.two-weeks-calendar tbody td.day {
    border: 0px solid var(--j-border-color) !important;
	transition: 0.5s;
}

.two-weeks-calendar tbody td.day ul li a:not(.expand-more-events), .calendar.full-calendar .fc-event .fc-content {
	color: #ffffff !important;
	transition: 0.5s;
}

.table-striped>tbody>tr:nth-of-type(odd), .table-fusion>tbody>tr:nth-of-type(odd) {
	background: var(--j-secondary-bg) !important;
	box-shadow: inset 0 0 100px 100px #ffffff05 !important;
	transition: 0.2s !important;
}

.table-hover>tbody>tr:hover, .table-fusion>tbody>tr:hover {
	background: var(--j-secondary-bg) !important;
    box-shadow: inset 0 0 100px 100px #ffffff10 !important;
	transition: 0.2s !important;
}

.two-weeks-calendar tbody td.day.today {
    background: var(--j-contrast-bg) !important;
	box-shadow: inset 0 0 100px 100px #00000010 !important;
}

.assignment-row .assessment, .short-assignment .assessment {
    background: #fff0 !important;
	border-left: 1px solid var(--j-border-color) !important;
}

.btn-light, .btn-secondary {
    color: var(--j-tinted-text) !important;
    background: var(--j-constrast-bg) !important;
    border-color: var(--j-border-color) !important;
}

div .btn:hover, .btn-light:hover, .btn-secondary:hover, .btn-light.active:hover, .btn-secondary.active:hover, .pill:hover, .grid-nav-tile .btn:hover {
   background: var(--j-contrast-bg) !important;
   transition: 0.2s;
}

div .btn:focus, .btn-light:focus, .btn-secondary:focus, .btn-light.active:focus, .btn-secondary.active:focus, .pill:focus, .grid-nav-tile .btn:focus {
   background: var(--j-dark-bg) !important;
   transition: 0.2s;
}

.btn-light:focus:active, .btn-light.active:focus, .btn-secondary:focus:active, .btn-secondary.active:focus, div .btn:focus:active, pill:focus:active {
    background: var(--j-dark-bg) !important;
}

div .btn-light:active, div .btn-light.active, .btn-light:focus, .btn-light.focus, .btn-light:focus:active, div .btn-light.active:focus, .btn-secondary:active, .btn-secondary.active, .btn-secondary:focus, .btn-secondary.focus, .btn-secondary:focus:active, .btn-secondary.active:focus, .tile-navigation a.btn, .btn-light.active, .btn-light:focus {
    background: var(--j-contrast-bg) !important;
}

.popover, .popover-content .popover-actions {
    background: var(--j-hover-color) !important;
	animation: fade ease 0.2s;
}

.status-section p, .status-section .section-content, .audit-log-section p, .audit-log-section .section-content, .access-permissions-section p, .access-permissions-section .section-content {
    background: var(--j-contrast-bg) !important;
}

.date-badge .day {
    border: 0px solid var(--j-border-color) !important;
    background: var(--j-highlight-color) !important;
	color: #ffffff !important;
}

.date-badge .month {
    background: var(--j-highlight-color) !important;
}

.ib-class-component .class-dropdown-item, .sebo-container, .academics-icon-container {
    border: 0px solid var(--j-border-color) !important;
	animation: fade ease 0.5s;
}

.ib-class-component .class-dropdown-item .text, .show-more .in, .fix-body-margins .redactor-styles .fr-view .fr-element, .redactor-styles *, .redactor-styles *:before, .redactor-styles *:after {
    color: var(--j-tinted-text) !important;
	animation: fade ease 0.5s;
}

.show-more.active.active::after, .show-more.small-active.active::after {
    -webkit-box-shadow: 0 0 0 var(--j-primary-text) inset !important;
    box-shadow: 0 0 0 var(--j-primary-text) inset !important;
}

main .sidebar section .section-title, .activity-tile .description, .activity-tile .cas-activity-calendar {
    color: var(--j-highlight-color) !important;
}

.static {
	filter: saturate(80%);
}

.content-navigation  {
    background: var(--j-contrast-bg) !important;
}

.main-tabs>li>a, .main-tabs>li>button {
    background: var(--j-secondary-bg) !important;
    border: 1px solid var(--j-border-color) !important;
    border-radius: 10px !important;
	color: var(--text-color) !important;
}

.main-tabs>li>a:hover, .main-tabs>li>button:hover {
    box-shadow: inset 0 0 100px 100px #ffffff10 !important;
	transition: 0.2s !important;
	color: #101828;
}

.main-tabs>li.active>a, .main-tabs>li.active>button {
    border: 2px solid var(--j-highlight-color) !important;
	color: var(--j-highlight-color) !important;
}

.stream-wrapper, .grid-nav-tile, .fusion-content-panel, .stream-plans {
    background: rgb(0 0 0 / 0%) !important;
}

.content-covered {
    background: var(--j-secondary-bg) !important;
}

.btn-link, .btn-link:hover {
    color: var(--j-primary-text) !important;
}

.dropdown-menu {
    background: var(--j-secondary-bg) !important;
    border-radius: 10px !important;
}

.dropdown-menu {
	animation: bounce-in ease 0.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.select2-container--bootstrap .select2-selection {
    background: var(--j-contrast-bg) !important;
    border-radius: 10px !important;
	border: 0px solid var(--j-border-color) !important;
}
.select2-container--bootstrap .select2-selection--single .select2-selection__rendered {
    color: var(--j-primary-text) !important;
}

.select2-container--bootstrap .select2-dropdown {
    background: var(--j-contrast-bg) !important;
	animation: bounce-in ease 0.5s;
}

.two-weeks-calendar tbody td.day {
	animation: fade ease 0.5s;
}

@keyframes fade {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes bounce-in {
  0% {
    opacity: 0;
    transform: scale(.3);
  }
  50% {
    opacity: 1;
    transform: scale(1.05);
  }
  70% { transform: scale(.9); }
  100% { transform: scale(1); }
}

.blank-slate-container:not(.white-bg)::before {
    background-image: url(https://drive.jaduastudios.com/images/webdata/backgroundgraphic.png) !important;
    background-color: var(--j-contrast-bg) !important;
}

label {
    color: var(--j-tinted-text) !important;
}

.progress {
    background: var(--j-dark-bg) !important;
    border-radius: 6px !important;
}

.pbl.pbl-worksheet:not(.project-section) .pbl-worksheet-header {
    height: 120px !important;
    border-radius: 10px !important;
}

.home-page-customisation .fusion-card-item-with-widgets .widget-tile, .calendar-tile, .current-day, .members-wrapper.multi-item-carousel .member, .menu-tiles .item-row, .classes-list .item-row, .calendar-widget .events-list {
    border: 1px solid var(--j-secondary-bg) !important;
    border-color: var(--j-secondary-bg) !important;
    background: var(--j-secondary-bg) !important;
    border-radius: 10px !important;
}

.events-list .event-tile *, .calendar-widget .current-date .day {
	color: var(--j-primary-text) !important;
}

.carousel-inline-section .multi-item-carousel .item {
	color: #000000 !important;
}

.timetable-wrapper #timetable thead, .timetable-wrapper #timetable tbody>tr>td:first-child {
	background: var(--j-primary-bg) !important;
    color: var(--j-primary-text) !important;
    border: 0px solid var(--j-border-color) !important;
}

.timetable-wrapper #timetable .class-wrapper:not(.custom) {
    background: var(--j-dark-bg) !important;
}

.timetable-wrapper #timetable thead th {
	background: var(--j-contrast-bg) !important;
}

.timetable-wrapper #timetable tbody>tr>td {
    border: 0px solid var(--j-border-color) !important;
}

.projects-wrapper .project-section, .projects-wrapper .project-content, .project-section .blank-slate-wrapper, .projects-wrapper .project-section .project-actions{
    background: var(--j-secondary-bg) !important;
	border: 0px solid var(--j-border-color) !important;
}

.double-divider  {
	background: var(--j-primary-bg) !important;
}

.projects-wrapper .project-section, .projects-wrapper .project-section .project-actions {
	border: 1px solid var(--j-border-color) !important;
}

.core-task-show .core-task-details {
    border: 0px solid var(--j-border-color) !important;
}

.osc-study-banner, .homepage .sections-wrapper.subjects-page .subject-image-container .details, .homepage .sections-wrapper.subjects-page .subject-image-container .fusion-section-content, .events-calendar-container .events-month .fusion-card, .subjects-page .fusion-cell-group .fusion-cell-group-item, .subjects-page .fusion-tiles-item.item {
    background: var(--j-dark-bg) !important;
	border: 0px solid var(--j-border-color) !important;
}

.homepage .sections-wrapper.subjects-page .subjects-list-container .fusion-tiles h4, .homepage .sections-wrapper.subjects-page .subjects-list-container .fusion-tiles h5 {
    color: var(--j-primary-text) !important;
}

/* CSS for the overlay container */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7); /* Semi-transparent black background */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10000; /* Ensure it's on top of other content */
    opacity: 0; /* Initially invisible */
    pointer-events: all; /* Allows interaction with content behind the overlay */
    transition: opacity 0.5s ease-in-out; /* Smooth transition for opacity */
}

/* CSS for the logo image with the hithere animation */
.logo {
	position: absolute; /* Change the positioning to absolute */
	left: 38%; /* Adjust the width as needed relative to viewport width */
	top: 10vw;
    transform: translate(-50%, -50%); /* Translate back by half of its own width and height */
    animation: hithere 1s ease 2; /* Play 'hithere' once and 'bounce-out' once after a 3-second delay */
}

.animate-bounce-out {
    animation: bounce-out 1s ease forwards;
}

@keyframes fadeBackground {
    0% { background: rgba(0, 0, 0, 0.7); }
    100% { background: rgba(0, 0, 0, 0); }
}

@keyframes bounce-out {
  0% { transform: scale(1); }
  25% { transform: scale(.95); }
  50% {
    opacity: 1;
    transform: scale(1.1);
  }
  100% {
    opacity: 0;
    transform: scale(.3);
  } 
}

/* CSS for the fade-in animation */
.overlay.show {
    opacity: 1; /* Fully visible */
    pointer-events: auto; /* Allows interaction with the overlay */
	animation: fadeBackground 0.3s ease 1.5s forwards;
}

@keyframes hithere {
  30% { transform: scale(1.2); }
  40%, 60% { transform: rotate(-20deg) scale(1.2); }
  50% { transform: rotate(20deg) scale(1.2); }
  70% { transform: rotate(0deg) scale(1.2); }
  100% { transform: scale(1); }
}

main .content-wrapper .content-block .content-block-header h3 {
	color: #ffffff !important;
}

main .content-wrapper.login-wrapper .content-block .form-actions {
    background: rgb(0 0 0 / 0%) !important;
    border-top: 0px !important;
}

.sidebar .list-group.pamoja-online-courses .list-group-item:not(:nth-of-type(2)), .form-actions, main .content-wrapper .content-block .content-panel {
    background: var(--j-contrast-bg) !important;
	border: 0px !important;
}

.fr-box .fr-toolbar, .fr-box.fr-basic.fr-top .fr-wrapper {
    border: 0px !important;
    background: var(--j-contrast-bg) !important;
}

.pbl:not(.project-section) .subsection {
    border: 0px solid var(--j-border-color) !important;
}

.stream-wrapper .stream .node {
    background: var(--j-contrast-bg) !important;
    border-radius: 10px !important;
    border: 0px solid #ffffff00 !important;
}

.total-commander .file {
	background: var(--j-secondary-bg) !important;
}

.total-commander .file:nth-of-type(odd) {
    box-shadow: inset 0 0 100px 100px #ffffff05 !important;
}

.total-commander .file:hover {
	box-shadow: inset 0 0 100px 100px #ffffff10 !important;
}

.fc-unthemed .fc-today {
    background: var(--j-dark-bg) !important;
}

.fc .fc-button-group>:first-child {
    background: var(--j-contrast-bg) !important;
}

.fc-unthemed td {
    border-color: var(--j-contrast-bg) !important;
}

.breadcrumbs:last-child {
    background: #00000000 !important;
}

.navbar .navbar-nav .dropdown-menu {
    border-color: #00000000 !important;
}

.dropdown-menu .dropdown-menu-item {
    background: var(--j-contrast-bg) !important;
    border-radius: 10px !important;
    margin-bottom: 10px !important;
}

.home-page-customisation .fusion-card-list .fusion-card-item {
    background: var(--j-contrast-bg) !important;
}

.popover, .modal.primary .modal-content {
    background: var(--j-primary-bg) !important;
}

.ib-coursework-banner {
    background: var(--j-dark-bg) !important;
}

/* CSS for the container */
.todoitem {
}

/* CSS for the checkbox */
.todocheckbox {
  width: 20px !important; /* Set the width of the checkbox */
  height: 20px !important; /* Set the height of the checkbox */
}

.expand-more-events {
  display: none;
}

/* CSS for the saturation effect */
.saturation-effect {
  filter: saturate(00%) brightness(60%); /* Adjust the saturation value as needed */
  transition: filter 0.3s ease; /* Add a smooth transition effect */
}

.hide {
  visibility: hidden !important;
  height: 0px !important;
  margin-bottom: 0px !important;
  padding: 0px !important;
}

textarea.form-control:not(:empty), body.mobile #dnd-upload textarea.js-multi-file:not(:empty), .form-control {
    background: var(--j-contrast-bg) !important;
    color: var(--j-primary-text) !important;
}

.content-section .section, .content-section .section-full-width, .form-section .section, .form-section .section-full-width, .content-section.top-decrease {
    background: var(--j-primary-bg) !important;
}

.content-block .pagination span, .content-block .pagination a {
    background: var(--j-secondary-bg) !important;
} 
.content-block .pagination a:hover {
    background: var(--j-contrast-bg) !important;
}

.task-completion-chart-section, .task-completion-chart-section .task-completion-chart-component .task-chart-wrapper .task-chart {
    background: var(--j-contrast-bg) !important;
}

.stream-plans-container .sortable-stream .node:nth-child(2n+1):not(.js-favourite) {
    background: var(--j-primary-bg) !important;
}

.items-count, .help-block {
    color: var(--j-tinted-text) !important;
}

.core-project-journal-entries, .core-project-journal-entries .entry {
    background: var(--j-secondary-bg) !important;
}

.left-side .side-container, .study-mode .unit-container .fusion-card-item, .study-mode .task-container .fusion-card-item, .presentation-mode .unit-container .fusion-card-item, .presentation-mode .task-container .fusion-card-item {
	background: var(--j-contrast-bg) !important;
}

.study-mode .unit-container, .study-mode .task-container, .presentation-mode .unit-container, .presentation-mode .task-container, .panel-body {
	background: var(--j-secondary-bg) !important;
}

.unit-sections-at-a-glance .unit-section-at-a-glance .panel-heading, .left-side .side-container>h3, .channel-app-tab-panel .channel-app-tab-title {
	background: var(--j-highlight-color) !important;
	color: var(--j-primary-text) !important;
}

.tile-navigation, .unit-sections-at-a-glance .unit-section-at-a-glance {
	background: var(--j-primary-bg) !important;
}

.channel-app-tab-panel #personal-note-form .js-personal-note-form, .channel-app-tab-panel #personal-note-form .js-personal-note-form form, .channel-app-tab-panel #personal-note-form .js-personal-note-form .form-group, .channel-app-tab-panel #personal-note-form .js-personal-note-form .redactor-box, .channel-app-tab-panel #js-channel-app-tab-notes .js-personal-note-form, .channel-app-tab-panel #js-channel-app-tab-notes .js-personal-note-form form, .channel-app-tab-panel #js-channel-app-tab-notes .js-personal-note-form .form-group, .channel-app-tab-panel #js-channel-app-tab-notes .js-personal-note-form .redactor-box {
	background: var(--j-contrast-bg) !important;
	color: var(--j-primary-text) !important;
}

.fusion-tiles-item {
    background: var(--j-dark-bg) !important;
	
}

.fusion-tiles-item .caption {
	color: var(--j-primary-text) !important;
}

.dropbox-item-dragging {
    background:  var(--j-contrast-bg) !important;
}

.nav-pills>li>a:hover, .ib-class-component .btn-fake {
    background:  var(--j-contrast-bg) !important;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
    background: var(--j-highlight-color) !important;
}

.highcharts-background {
    fill: var(--j-dark-bg) !important;
}

.show-spinner {
    backdrop-filter: blur(5px) !important;
    background: #ffffff20 !important;
    animation: fadeIn 0.2s;
}

.js-flash-area .flash :last-child, .js-flash-area-custom .flash :last-child, .flash-guidance .flash :last-child {
    color: #000000 !important;
}

.plan .subjects .subjects-row .tile.subject, .plan .subjects .nested-subjects-row .tile.subject, .plan .subjects .subjects-row .tile.subject, .plan .subjects .nested-subjects-row .tile.subject, .plan .subject-groups .subject-groups-main .subject-group, .plan .subject-groups .subject-groups-main .subject-group.active, .plan .subjects .subjects-row .tile.subject>.footer:not(.tok) {
    background: var(--j-contrast-bg) !important;
    border: 0px !important;
}

::-webkit-scrollbar {
  width: 10px !important;
}

::-webkit-scrollbar-track {
  background: var(--j-contrast-bg) !important; 
}

::-webkit-scrollbar-thumb {
  background: var(--j-highlight-color) !important; 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--j-tinted-text) !important; 
}

span {
    background-color: rgba(0, 0, 0, 0) !important;
}